PORT=554
USERNAME=root
USERPASSWORD=pass
RTSPLOGENABLED=0
channels=1
daynight=2
daynightawb=160000
daynightinfo=1
daynightlum=6000
fps=25
ircut=1
irled=0
jpegfps=1
jpegstream=1
mdenabled=1
mdfps=10
mdheight=100
mdsens=60
mdwidth=100
mdx=0
mdy=0
nightdayawb=10000
nightdaylum=1500
origosdfontsize=16
osdalpha=0
osdbackcolor=0
osdedgecolor=2
osdenabled=1
osdfontpath=/usr/local/ak_font_16.bin
osdfrontcolor=1
osdtext=%H:%M:%S %d.%m.%Y
sampleinterval=100
samplerate=8000
sensor=/etc/jffs2/isp_*.conf
videoday=1
volume=10
imageflip=0
abortonerror=1
mdupdatecounter=200
configupdatecounter=200
[0]
bps=1500
brmode=1
codec=2
fps=16
goplen=64
height=720
maxqp=51
minqp=20
profile=3
width=1280
smartmode=1
smartgoplen=64
smartquality=100
smartstatic=550
maxkbps=1500
targetkbps=1200
osdfontsize=32
osdx=20
osdy=24
[1]
bps=250
brmode=1
codec=0
fps=8
goplen=32
height=200
maxqp=51
minqp=20
profile=0
width=352
smartmode=1
smartgoplen=8
smartquality=50
smartstatic=150
maxkbps=450
targetkbps=400
osdfontsize=16
osdx=10
osdy=12
[2]
channels=1
codec=4
samplerate=8000
[3]
channels=1
codec=17
samplerate=8000